---
title: Home
layout: default
description: We are a group of researchers at the Korea Advanced Institute of Science and Technology (KAIST) who study the human mind that understands and produces speech!
featured_image: /assets/img/logo.png
---

<!--Replace this page with your landing page content -->
{% if site.data.settings.home_settings.theme == "landing" %}
  {% include home-sample.html %}
  <div class="features-7 fullWidth contentWrapper">
    <div class="container mb-2">
    <div class="row">
        <div class="col-md-8 text-center mx-auto">
            <h3 class="display-3">Events</h3>
            <p class="lead pb-5">The latest events from our lab</p>
        </div>
    </div>
  
    <div class="blogGlide fullWidth">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
    
          <!-- July 2026: AVoPS -->
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
              src="../assets/img/theme/202607_AVoPS-Max-Planck-Institute-for-Empirical-Aesthetics_group.png"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                Affective Voice Perception and Synthesis, Max Planck Institute for Empirical Aesthetics, Frankfurt, Germany, July 2026
              </figcaption>
            </figure>
          </li>
              
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202607_AVoPS-Max-Planck-Institute-for-Empirical-Aesthetics_prof.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                Affective Voice Perception and Synthesis, Max Planck Institute for Empirical Aesthetics, Frankfurt, Germany, July 2026
              </figcaption>
            </figure>
          </li>
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202607_AVoPS-Max-Planck-Institute-for-Empirical-Aesthetics_minjeong.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                Affective Voice Perception and Synthesis, Max Planck Institute for Empirical Aesthetics, Frankfurt, Germany, July 2026
              </figcaption>
            </figure>
          </li>
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202607_AVoPS-Max-Planck-Institute-for-Empirical-Aesthetics_other1.jpeg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                Affective Voice Perception and Synthesis, Max Planck Institute for Empirical Aesthetics, Frankfurt, Germany, July 2026
              </figcaption>
            </figure>
          </li>
    
    
          <!-- June 2026: The Linguistic Society of Korea -->
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202606_the-linguistic-society-of-korea-Daejeon_minhong_2.jpeg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                사단법인 한국언어학회, Daejeon, South Korea, June 2026
              </figcaption>
            </figure>
          </li>
    
    
    
          <!-- January 2026: Speech in Noise Workshop -->

          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202601_Speech-in-noise-workshop-paris-ENS_song.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                17th Speech in Noise Workshop, Paris, France, January 2026
              </figcaption>
            </figure>
          </li>
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202601_Speech-in-noise-workshop-paris-ENS_minhong.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                17th Speech in Noise Workshop, Paris, France, January 2026
              </figcaption>
            </figure>
          </li>
        
    
    
          <!-- December 2025: International Symposium on Intelligent Sound -->
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202512_International-symposium-on-intelligent-sound-Daejeon_minhong.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                International Symposium on Intelligent Sound, Daejeon, South Korea, December 2025
              </figcaption>
            </figure>
          </li>
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202512_International-symposium-on-intelligent-sound-Daejeon_minjeong.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                International Symposium on Intelligent Sound, Daejeon, South Korea, December 2025
              </figcaption>
            </figure>
          </li>
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202512_International-symposium-on-intelligent-sound-Daejeon_prof.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                International Symposium on Intelligent Sound, Daejeon, South Korea, December 2025
              </figcaption>
            </figure>
          </li>
    
    
          <!-- October 2024: Society for the Neurobiology of Language -->
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202410_Society-for-the-Neurobiology-of-Language_other_poster.jpeg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                16th Annual Meeting of the Society for the Neurobiology of Language, Brisbane, Australia, October 2024
              </figcaption>
            </figure>
          </li>
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202410_Society-for-the-Neurobiology-of-Language_other.jpeg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                16th Annual Meeting of the Society for the Neurobiology of Language, Brisbane, Australia, October 2024
              </figcaption>
            </figure>
          </li>
    
    
          <!-- May 2024: Acoustical Society of America -->
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202405_ASA-ottawa_group.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                186th Meeting of the Acoustical Society of America, Ottawa, Canada, May 2024
              </figcaption>
            </figure>
          </li>
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202405_ASA-ottawa_minhong.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                186th Meeting of the Acoustical Society of America, Ottawa, Canada, May 2024
              </figcaption>
            </figure>
          </li>
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202405_ASA-Ottawa_minjeong.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                186th Meeting of the Acoustical Society of America, Ottawa, Canada, May 2024
              </figcaption>
            </figure>
          </li>
    
    
          <!-- June 2023: SPaB UK-Korea Prosody Workshop -->
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202306_SPaB-UK-Korea-prosody-workshop-Seoul_minjeong.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                SPaB UK–Korea Prosody Workshop, Seoul, South Korea, June 2023
              </figcaption>
            </figure>
          </li>
    
    
          <!-- July 2022: UK-Korea Prosody Workshop -->
    
          <li class="glide__slide">
            <figure class="text-center" style="margin: 0; padding: 1rem 0;">
              <img
                src="../assets/img/theme/202207_UK-Korea-prosody-workshop-Seoul_prof.jpg"
                style="display: block; margin: 0 auto; object-fit: contain;"
              >
              <figcaption class="text-muted" style="font-size: 0.8rem; padding-top: 0;">
                UK–Korea Prosody Workshop, Seoul, South Korea, July 2022
              </figcaption>
            </figure>
          </li>
    
        </ul>
      </div>
    
      <div
        class="glide__arrows d-flex justify-content-center mt-2"
        data-glide-el="controls"
      >
        <button
          class="glide__arrow text-default position-static"
          data-glide-dir="<"
        >
          <i class="ni ni-bold-left"></i>
        </button>
    
        <button
          class="glide__arrow text-default position-static"
          data-glide-dir=">"
        >
          <i class="ni ni-bold-right"></i>
        </button>
      </div>
    </div> 

    </div>
  </div>
  <!--
  {% include blogsHome.html %}
  -->
{% endif %}

{% if site.data.settings.home_settings.theme == "blog" %}
  <!-- Or turn your homepage into just a blog -->
  {% if site.data.settings.blog_settings.theme == "narrow" %}
  <div class="page-header page-header-small bg-secondary fullWidth ">
      <div class="container contentWrapper">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center pt-4">
            <h2 class="display-2">Blog</h2>
            <h2 class="lead pl-5 pr-5 pb-3 text-center">The latest posts from our blog</h2>
          </div>
        </div>
      </div>
    </div>

      <section class="blog main-raised">
          {% include blogsHome.html %}  
      </section>
          
  {% endif %}

  {% if site.data.settings.blog_settings.theme == "basic" %}
  <div class="page-header page-header-small bg-secondary fullWidth ">
      <div class="container contentWrapper">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center pt-4">
            <h2 class="display-2">Blog</h2>
            <h2 class="lead pl-5 pr-5 pb-3 text-center">The latest posts from our blog</h2>
          </div>
        </div>
      </div>
    </div>

      <section class="blog mt-5">
          {% include blogsHome.html %}  
      </section>
          
  {% endif %}

  {% if site.data.settings.blog_settings.theme == "grid" %}
  <div class="page-header page-header-small bg-secondary fullWidth ">
      <div class="container contentWrapper">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center pt-4">
            <h2 class="display-2">Blog</h2>
            <h2 class="lead pl-5 pr-5 pb-3 text-center">The latest posts from our blog</h2>
          </div>
        </div>
      </div>
    </div>

      <section class="blog">
          {% include blogsHome.html %}  
      </section>
          
  {% endif %}

{% endif %}


